//
//  PeepSo
//  Copyright 2015 iJoomla, Inc. GPL 2.0 licensed.
//
//  File: Typo.scss
//
//////////////////////////////////////////////////


/*  Text modifiers  */
.ps-text-center {
	text-align: center;
}

.ps-text-left {
	text-align: left;
}

.ps-text-right {
	text-align: right;
}

.ps-text-muted {
	color: $color-gray;
}

.ps-text-danger {
	color: $color-danger;
}

.ps-text-title {
	margin-top: 0 !important;
	margin-bottom: $padding-base !important;
}
