//
//  PeepSo
//  Copyright 2015 PeepSo, Inc. GPL 2.0 licensed.
//
//  File: Pagination.scss
//
//////////////////////////////////////////////////


/*  Pagination  */
.ps-pagination {
	@extend %clearfix;
	display: block;
	margin-top: $padding-base;
	background-color: #F5F7F7;
	text-align: center;
}

.ps-pagination-item,
.ps-pagination-next,
.ps-pagination-prev,
.ps-pagination-total {
	display: inline-block;
	a,
	span {
		display: block;
		padding-left: $padding-small;
		padding-right: $padding-small;
		font-size: $font-size-small;
		line-height: 32px;
	}

	a {
		&:hover, &:focus, &.active {
			background-color: rgba(0,0,0,.05);
		}
	}
}

.ps-pagination-item,
.ps-pagination-prev {
	float: left;
}

.ps-pagination-next {
	float: right;
}
