/* styles for PeepSo admin */
/* line 3, ../sass/admin.scss */
#adminmenu ul, ol {
  margin: 0;
}

/* line 8, ../sass/admin.scss */
#peepso .dashtab {
  margin-top: 1rem;
}
/* line 12, ../sass/admin.scss */
#peepso .infobox {
  display: inline-block;
  color: #555;
  background-color: #FFF;
  box-shadow: none;
  border-radius: 3px;
  margin: -1px 2px 0 -1px;
  padding: 4px 8px;
  border: 1px dotted;
  border-color: #d8d8d8 !important;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  position: relative;
  height: 5.5rem;
}
/* line 28, ../sass/admin.scss */
#peepso .infobox:last-of-type {
  margin-right: 0;
}
/* line 31, ../sass/admin.scss */
#peepso .infobox-orange {
  background-color: #e8b110;
}
/* line 32, ../sass/admin.scss */
#peepso .infobox-blue {
  background-color: #6fb3e0;
}
/* line 33, ../sass/admin.scss */
#peepso .infobox-red {
  background-color: #d53f40;
}
/* line 34, ../sass/admin.scss */
#peepso .infobox-green {
  background-color: #9abc32;
}
/* line 35, ../sass/admin.scss */
#peepso .infobox-gray {
  background-color: #ccc;
}
/* line 38, ../sass/admin.scss */
#peepso .infobox-dark a {
  margin: 1px 1px 0 0;
  border-color: transparent;
  border: 0;
  color: #FFF;
  text-decoration: none;
}
/* line 47, ../sass/admin.scss */
#peepso input[type="radio"] {
  width: 0px;
}
/* line 51, ../sass/admin.scss */
#peepso input.col-xs-10 {
  width: 83.3333%;
}
/* line 55, ../sass/admin.scss */
#peepso input.col-sm-5 {
  width: 36.6666%;
}
/* line 59, ../sass/admin.scss */
#peepso .postbox {
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 15px 0;
  border: 1px solid #CCC;
}
/* line 66, ../sass/admin.scss */
#peepso .postbox .handlediv {
  display: none;
}
/* line 70, ../sass/admin.scss */
#peepso .postbox h3.hndle {
  font-size: 15px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  min-height: 38px;
  margin: 0;
  background: #f7f7f7;
  background-image: -webkit-linear-gradient(top, white 0, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  color: #669fc7;
  border-bottom: 1px solid #DDD;
  padding-left: 12px;
  cursor: auto;
}
/* line 86, ../sass/admin.scss */
#peepso .postbox h3.hndle span {
  line-height: 36px;
  padding: 0;
  margin: 0;
  display: inline;
}

/* line 96, ../sass/admin.scss */
#peepso .infobox > a .infobox-icon {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 25px;
  font-size: 25px;
}

/* line 104, ../sass/admin.scss */
#peepso .infobox > a .infobox-data {
  display: inline-block;
  border: 0;
  border-top-width: 0;
  margin-left: 3px;
  font-size: 16px;
  text-align: left;
  line-height: 21px;
  top: 0;
}

/* line 115, ../sass/admin.scss */
#peepso .infobox-dark a .infobox-caption {
  font-size: 90%;
  color: #FFF;
  text-decoration: underline;
}

/* line 121, ../sass/admin.scss */
.admin-tablenav > span {
  line-height: 30px;
  font-style: italic;
  margin-right: 20px;
  font-size: 110%;
}

/* line 130, ../sass/admin.scss */
.has-error .errors ul, .has-error .errors ol {
  margin: 0;
  color: #d16e6c;
}

/* line 137, ../sass/admin.scss */
/* #peepso label input[type=checkbox].ace, label input[type=radio].ace {
  position: absolute;
}
 */

#form-activity th.column-ID {
  width: 80px;
}

#form-activity th.column-user_avatar {
  width: 60px;
}

#form-activity th.column-post_date_gmt {
  width: 150px;
}

#form-activity th.column-post_status {
  width: 90px;
}

.config-tabs {
	font-size: 120%;
	width: 98%;
	clear: both;
	border-bottom: 1px solid gray;
	padding-left: 5px;
}

.config-tabs .config-tab-wrap {
	display: inline-block;
	padding: 4px 10px;
	border: 1px solid gray;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.config-tabs .config-tab-wrap a { color: black; }

.config-tabs .config-tab-active {
	background-color: #dddddd;
background-color: #8ab2c9;
}
.config-tabs .config-tab-active a {
	color: white;
	font-weight: bold;
	border: none;
}

.email-content {
	width: 550px;
	height: 250px;
	font-family: courier;
	font-size: 14px;
	padding: 5px;
}

#peepso input[type="checkbox"].ace-switch-2 {
  position: absolute;
}

.dialogs .dialogdiv .text .fa-quote-left {
  color: #dce3ed;
}

.avg-avatar {
  margin-right: 6px;
}

.itemdiv.memberdiv {
  width: 50%;
}

.graph-container, #demographic-pie {
  height: 250px;
}

/* add a red background for a specific yes/no widget */
.form-group .danger input[type=checkbox].ace.ace-switch:checked + .lbl::before {
	background-color: red !important;
}

#form-reporteditems .row-actions { visibility: visible; }

#peepso_dashboard_most_recent .itemdiv.memberdiv>.user>a>img {
	border-color: #DCE3ED;
}
#peepso_dashboard_most_recent .itemdiv>.user>a>img {
	border-radius: 100%;
	border: 2px solid #5293C4;
	max-width: 40px;
	position: relative;
}

.form-field.controls.col-sm-1 input[type="checkbox"] {
	width: 16px;
	height: 16px;
}

/* PeepSo plugins check */
.plugins-table {
  width: 100%;
}

.plugins-item-img {
  text-align: center;
}

.plugins-item-price {
  text-align: center;
  padding: 15px;
  color: #4CAF50;
  font-weight: bold;
}

.plugins-item-body {
  margin-bottom: 15px;
}

.plugins-item-action .btn {
  width: 100%;
}

.plugins-list .plugins-item-body p {
  margin-bottom: 0;
}

.plugins-list .bundle {
  background-color: #f5f5f5;
}

.plugins-list .list-group-item {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.plugins-list .list-group-item:first-child {
  border-top: 0;
}

/* Label modifier */
.label-title {
  position: absolute;
  top: -1px;
  right: -1px;
  height: 40px;
  display: none;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid rgba(0,0,0,.1);
  line-height: 33px;
  font-size: 14px;
  font-weight: bold;
}

/* Welcome e-book box */
.welcome-postbox-ebook .form-group {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .plugins-table {
    display: table;
  }

  .plugins-item-img {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 25%;
  }

  .plugins-item-img img {
    padding-right: 25px !important;
    width: 100%;
  }

  .plugins-item-price {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    width: 10%;
    text-align: left;
  }

  .plugins-item-body {
    display: table-cell;
    vertical-align: middle;
  }

  .plugins-item-action {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
  }

  .plugins-item-action .btn {
    width: auto;
  }

  .label-title {
    display: block;
  }
}
